table, th, td{
    border: 1px solid crimson;
    /*  */
}

table{
    /* empty-cells: show; */
   
    border-collapse: collapse; 
    /* separate (defsult), collapse */

    /* border-spacing: 10px 30px; */
    /* horizontal bertical */
}

th{
    border: 1px solid #fff;
}


th,td{
    font-family: sans-serif;
    font-size: 2em;
}

thead{
    background-color: crimson;
    color: #fff;
}